.D_logo
{  
  margin-left: 158px;
  margin-top: 21px;
  color: #D9D9D9;
  font-family: Inter;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.R_logo
{
  margin-left: 185.25px;
  margin-top: 21px;
  color: #D9D9D9;
  font-family: Inter;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}